diffusers
huggingface-hub
matplotlib
numpy<2.0.0
opencv-python
torch>2.2.0
torchaudio
torchvision
torchsde
tqdm
transformers
einops
librosa==0.9.2
wandb
accelerate
notebook
progressbar
scipy
soundfile
ipykernel
Pillow
pydub